<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
<div>
    <p>
        <span>Название книги</span>
        <input type="text" placeholder="Введите название" maxlenght="50"/>
    </p>
</div>
<div>
    <p>
        <span>Автор книги</span>
        <input type="text" placeholder="Введите ФИО автора" maxlenght="50"/>
    </p>
</div>
<div>
    <p>
        <button type="submit">Сохранить</button>
        </p>
</div>
@RenderBody()
</body>
</html>
