
@model IEnumerable<addBookApp.Models.Book>

<h2>Список книг</h2>

<div>
    <tr>
        <td><p>Название книги</p></td>
        <td><p>Автор</p></td>
        <td></td>
    </tr>
    @foreach (var b in Model)
    {
    <table>
        <tr>
            <td><p>@b.Name</p></td>
            <td><p>@b.Author</p></td>
        </tr>
    </table>
    }
</div>