
@model IEnumerable<addBookApp.Models.Book>

<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partial View</title>
</head>
<body>
<button class="btn btn-default" onclick="window.history.back()">Назад</button>
<h2>Список книг</h2>
<div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название книги</th>
            <th scope="col">Автор</th>
            <th scope="col">Книжный номер</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var b in Model) {
            @*for (int i = 1; i <= Model.Count(); i++) {
                <tr>
                    <th scope="row">i</th>
                </tr>
            }*@
            <tr>
                <td>@b.Name</td>
                <td>@b.Author</td>
                <td>@b.Isbn</td>
                <td><a href="../ViewBooks/Edit/@b.Id">Редактировать</a></td>
                <td><a href="../ViewBooks/Delete/@b.Id">Удалить</a></td>
            </tr>
        }</tbody>
    </table>
</div>
</body>
