@{
    ViewBag.Title = "Главная";
}
<script>
    $(function() {
        $("#dialog").dialog({
            autoOpen: false,
            modal: true,
            title: "Редактирование книги"
        });
    });
</script>
<div>
    <form action="/Home/AddBook">
        <button class="btn btn-secondary">Добавить книгу</button>
    </form>
    <br />
    <form action="/Author/Index">
        <button class="btn btn-secondary">Авторы</button>
    </form>
</div>
<div>
    <h2>Список книг</h2>
    <div id="updatePanel" style="padding: 20px;">
    </div>
    <div id="dialog" style="display: none; background-color: bisque;">
    </div>
    <div class="Pager"></div>
</div>
<script src="~/Scripts/paging.js"></script>
@section Scripts {
    @Scripts.Render("~/Scripts/Books.js")
}