
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Редактирование</title>
</head>
<body>
<div>
    <form action="/ViewBooks/EditBook" method="post">
        <p>Название книги</p>
        <input type="text" name="Name" maxlength="50" />
        <p>Автор</p>
        <input type="text" name="Author" maxlength="50" />
        <button type="submit">Сохранить</button>
    </form>
</div>
</body>
</html>
