@{
    ViewBag.Title = "Home Page";
}
    <div>

        
            <form action="/Home/Save" method="post">
                <p>Название книги</p>
                <input type="text" name="Name" maxlenght="50" />
                <p>Автор книги</p>
                <input type="text" name="Author" maxlenght="50" />
                <input type="submit" value="Сохранить" />
            </form>
            <a href="/ViewBooks/ViewBooks">Просмотр</a>
            <br /> <br />
            @Html.Action("BooksPartialView","Home")
        
    </div>